In [52]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [53]:

# Read full dataset

Location = r'../KEsupermarkets/data.csv'

df = pd.read_csv(Location)

df

,supermarket,no_of_items,variation,total,paid,change,type,food,snack,beverage,...,day_type,24hr,day_1,month,year,hour,item_no_cat,total_cat,paid_cat,change_cat
0,acacia,1,1,90.0,100,10.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,19,A,1,1,1
1,acacia,1,1,90.0,500,410.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,19,A,1,1,1
2,acacia,3,1,270.0,300,30.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,19,B,1,1,1
3,acacia,3,1,137.0,200,63.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,19,B,1,1,1
4,acacia,1,1,75.0,80,5.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,18,A,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,tuskys,4,3,1810.0,2000,190.0,cash,no,yes,no,...,weekday,no,15,6,2017.0,11,B,4,1,1
1460,nakumatt,2,3,516.0,516,0.0,card,yes,no,yes,...,weekday,no,17,7,2017.0,21,A,1,1,1
1461,tuskys,2,1,290.0,500,210.0,cash,yes,no,no,...,weekend,no,30,6,2017.0,21,A,1,1,1
1462,tuskys,5,2,596.0,1000,404.0,cash,yes,no,no,...,weekday,no,8,5,2017.0,11,B,1,1,1
1463,Eastmatt,2,2,120.0,2000,1880.0,cash,yes,yes,no,...,weekday,no,23,6,2017.0,16,A,1,1,0

In [55]:

unitPrice = df['total']/df['no_of_items']

unitPrice

0        90.000000
1        90.000000
2        90.000000
3        45.666667
4        75.000000
           ...
1459    452.500000
1460    258.000000
1461    145.000000
1462    119.200000
1463     60.000000
Length: 1464, dtype: float64

In [57]:

df['unitPrice'] = np.round(unitPrice, 2)

df

,supermarket,no_of_items,variation,total,paid,change,type,food,snack,beverage,...,24hr,day_1,month,year,hour,item_no_cat,total_cat,paid_cat,change_cat,unitPrice
0,acacia,1,1,90.0,100,10.0,cash,yes,no,no,...,no,20,5,2017.0,19,A,1,1,1,90.00
1,acacia,1,1,90.0,500,410.0,cash,yes,no,no,...,no,20,5,2017.0,19,A,1,1,1,90.00
2,acacia,3,1,270.0,300,30.0,cash,yes,no,no,...,no,20,5,2017.0,19,B,1,1,1,90.00
3,acacia,3,1,137.0,200,63.0,cash,yes,no,no,...,no,20,5,2017.0,19,B,1,1,1,45.67
4,acacia,1,1,75.0,80,5.0,cash,yes,no,no,...,no,20,5,2017.0,18,A,1,1,1,75.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,tuskys,4,3,1810.0,2000,190.0,cash,no,yes,no,...,no,15,6,2017.0,11,B,4,1,1,452.50
1460,nakumatt,2,3,516.0,516,0.0,card,yes,no,yes,...,no,17,7,2017.0,21,A,1,1,1,258.00
1461,tuskys,2,1,290.0,500,210.0,cash,yes,no,no,...,no,30,6,2017.0,21,A,1,1,1,145.00
1462,tuskys,5,2,596.0,1000,404.0,cash,yes,no,no,...,no,8,5,2017.0,11,B,1,1,1,119.20
1463,Eastmatt,2,2,120.0,2000,1880.0,cash,yes,yes,no,...,no,23,6,2017.0,16,A,1,1,0,60.00