In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:

# Read full dataset

Location = r'../KEsupermarkets/data.csv'

df = pd.read_csv(Location)

df

,supermarket,no_of_items,variation,total,paid,change,type,food,snack,beverage,...,day_type,24hr,day_1,month,year,hour,item_no_cat,total_cat,paid_cat,change_cat
0,acacia,1,1,90.0,100,10.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,19,A,1,1,1
1,acacia,1,1,90.0,500,410.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,19,A,1,1,1
2,acacia,3,1,270.0,300,30.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,19,B,1,1,1
3,acacia,3,1,137.0,200,63.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,19,B,1,1,1
4,acacia,1,1,75.0,80,5.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,18,A,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,tuskys,4,3,1810.0,2000,190.0,cash,no,yes,no,...,weekday,no,15,6,2017.0,11,B,4,1,1
1460,nakumatt,2,3,516.0,516,0.0,card,yes,no,yes,...,weekday,no,17,7,2017.0,21,A,1,1,1
1461,tuskys,2,1,290.0,500,210.0,cash,yes,no,no,...,weekend,no,30,6,2017.0,21,A,1,1,1
1462,tuskys,5,2,596.0,1000,404.0,cash,yes,no,no,...,weekday,no,8,5,2017.0,11,B,1,1,1
1463,Eastmatt,2,2,120.0,2000,1880.0,cash,yes,yes,no,...,weekday,no,23,6,2017.0,16,A,1,1,0

In [3]:

# Count how many items are food

food_item = df[df.food == 'yes']

len(food_item)

718

In [4]:

# Set the 'type_market' column as the index of the dataframe

df.set_index('type_market', inplace=True)

# Print only the beverage column

df.beverage

type_market
small     no
small     no
small     no
small     no
small     no
        ...
chain     no
chain    yes
chain     no
chain     no
chain     no
Name: beverage, Length: 1464, dtype: object

In [5]:

# Print the columns 'mall' and 'bevarage'

df[['mall', 'beverage']]

            mall beverage
type_market
small         no       no
small         no       no
small         no       no
small         no       no
small         no       no
...          ...      ...
chain        yes       no
chain        yes      yes
chain         no       no
chain        yes       no
chain         no       no

[1464 rows x 2 columns]

In [6]:

# Select the 'Supermarket', 'Change', 'Type' columns from small and chain

df.loc[['small', 'chain'], ['supermarket', 'change', 'type']]

            supermarket  change  type
type_market
small            acacia    10.0  cash
small            acacia   410.0  cash
small            acacia    30.0  cash
small            acacia    63.0  cash
small            acacia     5.0  cash
...                 ...     ...   ...
chain            tuskys   190.0  cash
chain          nakumatt     0.0  card
chain            tuskys   210.0  cash
chain            tuskys   404.0  cash
chain          Eastmatt  1880.0  cash

[1427 rows x 3 columns]

In [7]:

# Select the rows 3 to 7 and the columns 3 to 6

df.iloc[2:7, 2:6]

             variation   total  paid  change
type_market
small                1   270.0   300    30.0
small                1   137.0   200    63.0
small                1    75.0    80     5.0
chain                3  5611.0  5611     0.0
small                1    55.0   100    45.0

In [8]:

# Select every row after the fourth and all columns

df.iloc[4:, :]

,supermarket,no_of_items,variation,total,paid,change,type,food,snack,beverage,...,day_type,24hr,day_1,month,year,hour,item_no_cat,total_cat,paid_cat,change_cat
type_market,,,,,,,,,,,,,,,,,,,,,
small,acacia,1,1,75.0,80,5.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,18,A,1,1,1
chain,nakumatt,22,3,5611.0,5611,0.0,card,yes,no,no,...,weekday,yes,24,12,2016.0,16,B,0,2,1
small,acacia,1,1,55.0,100,45.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,18,A,1,1,1
median,chandarana,32,3,7955.0,7955,0.0,mpesa,yes,no,no,...,weekday,no,3,1,2017.0,19,B,0,3,1
chain,nakumatt,1,1,780.0,1000,220.0,cash,no,no,no,...,weekday,no,27,3,2017.0,19,A,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
chain,tuskys,4,3,1810.0,2000,190.0,cash,no,yes,no,...,weekday,no,15,6,2017.0,11,B,4,1,1
chain,nakumatt,2,3,516.0,516,0.0,card,yes,no,yes,...,weekday,no,17,7,2017.0,21,A,1,1,1
chain,tuskys,2,1,290.0,500,210.0,cash,yes,no,no,...,weekend,no,30,6,2017.0,21,A,1,1,1
chain,tuskys,5,2,596.0,1000,404.0,cash,yes,no,no,...,weekday,no,8,5,2017.0,11,B,1,1,1
chain,Eastmatt,2,2,120.0,2000,1880.0,cash,yes,yes,no,...,weekday,no,23,6,2017.0,16,A,1,1,0

In [9]:

# Select every row up to the 4th row and all columns

df.iloc[:4, :]

,supermarket,no_of_items,variation,total,paid,change,type,food,snack,beverage,...,day_type,24hr,day_1,month,year,hour,item_no_cat,total_cat,paid_cat,change_cat
type_market,,,,,,,,,,,,,,,,,,,,,
small,acacia,1,1,90.0,100,10.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,19,A,1,1,1
small,acacia,1,1,90.0,500,410.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,19,A,1,1,1
small,acacia,3,1,270.0,300,30.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,19,B,1,1,1
small,acacia,3,1,137.0,200,63.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,19,B,1,1,1

In [10]:

# Select the 3rd column up to the 7th column

df.iloc[:, 2:7]

             variation   total  paid  change  type
type_market
small                1    90.0   100    10.0  cash
small                1    90.0   500   410.0  cash
small                1   270.0   300    30.0  cash
small                1   137.0   200    63.0  cash
small                1    75.0    80     5.0  cash
...                ...     ...   ...     ...   ...
chain                3  1810.0  2000   190.0  cash
chain                3   516.0   516     0.0  card
chain                1   290.0   500   210.0  cash
chain                2   596.0  1000   404.0  cash
chain                2   120.0  2000  1880.0  cash

[1464 rows x 5 columns]

In [11]:

# Select rows where df.change is greater than 1500

df[df['change'] > 1500]

,supermarket,no_of_items,variation,total,paid,change,type,food,snack,beverage,...,day_type,24hr,day_1,month,year,hour,item_no_cat,total_cat,paid_cat,change_cat
type_market,,,,,,,,,,,,,,,,,,,,,
chain,Eastmatt,2,2,120.0,2000,1880.0,cash,yes,yes,no,...,weekday,no,23,6,2017.0,16,A,1,1,0

In [12]:

# Select rows where df.change is greater than 1500 or less than 150

df[(df['change'] > 1500) | (df['change'] < 150)]

,supermarket,no_of_items,variation,total,paid,change,type,food,snack,beverage,...,day_type,24hr,day_1,month,year,hour,item_no_cat,total_cat,paid_cat,change_cat
type_market,,,,,,,,,,,,,,,,,,,,,
small,acacia,1,1,90.0,100,10.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,19,A,1,1,1
small,acacia,3,1,270.0,300,30.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,19,B,1,1,1
small,acacia,3,1,137.0,200,63.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,19,B,1,1,1
small,acacia,1,1,75.0,80,5.0,cash,yes,no,no,...,weekend,no,20,5,2017.0,18,A,1,1,1
chain,nakumatt,22,3,5611.0,5611,0.0,card,yes,no,no,...,weekday,yes,24,12,2016.0,16,B,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
chain,uchumi,1,1,70.0,200,130.0,cash,no,yes,no,...,weekend,no,23,9,2017.0,19,A,1,1,1
chain,tuskys,2,3,1230.0,1230,0.0,mpesa,yes,no,no,...,weekday,no,15,6,2017.0,19,A,1,1,1
chain,tuskys,1,1,90.0,100,10.0,cash,yes,no,no,...,weekday,no,15,6,2017.0,20,A,1,1,1
chain,nakumatt,2,3,516.0,516,0.0,card,yes,no,yes,...,weekday,no,17,7,2017.0,21,A,1,1,1
chain,Eastmatt,2,2,120.0,2000,1880.0,cash,yes,yes,no,...,weekday,no,23,6,2017.0,16,A,1,1,0

In [13]:

# Select all the location not 'saika'

df[df['location'] != 'saika']

,supermarket,no_of_items,variation,total,paid,change,type,food,snack,beverage,...,day_type,24hr,day_1,month,year,hour,item_no_cat,total_cat,paid_cat,change_cat
type_market,,,,,,,,,,,,,,,,,,,,,
chain,nakumatt,22,3,5611.0,5611,0.0,card,yes,no,no,...,weekday,yes,24,12,2016.0,16,B,0,2,1
median,chandarana,32,3,7955.0,7955,0.0,mpesa,yes,no,no,...,weekday,no,3,1,2017.0,19,B,0,3,1
chain,nakumatt,1,1,780.0,1000,220.0,cash,no,no,no,...,weekday,no,27,3,2017.0,19,A,1,1,1
chain,tuskys,33,6,13005.0,13001,0.0,card,yes,no,no,...,weekday,no,7,12,2016.0,8,B,0,0,1
chain,nakumatt,2,1,431.0,500,68.0,cash,yes,no,yes,...,weekend,no,23,7,2016.0,11,A,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
chain,tuskys,4,3,1810.0,2000,190.0,cash,no,yes,no,...,weekday,no,15,6,2017.0,11,B,4,1,1
chain,nakumatt,2,3,516.0,516,0.0,card,yes,no,yes,...,weekday,no,17,7,2017.0,21,A,1,1,1
chain,tuskys,2,1,290.0,500,210.0,cash,yes,no,no,...,weekend,no,30,6,2017.0,21,A,1,1,1
chain,tuskys,5,2,596.0,1000,404.0,cash,yes,no,no,...,weekday,no,8,5,2017.0,11,B,1,1,1
chain,Eastmatt,2,2,120.0,2000,1880.0,cash,yes,yes,no,...,weekday,no,23,6,2017.0,16,A,1,1,0

In [14]:

# Reset index

df.reset_index()

,type_market,supermarket,no_of_items,variation,total,paid,change,type,food,snack,...,day_type,24hr,day_1,month,year,hour,item_no_cat,total_cat,paid_cat,change_cat
0,small,acacia,1,1,90.0,100,10.0,cash,yes,no,...,weekend,no,20,5,2017.0,19,A,1,1,1
1,small,acacia,1,1,90.0,500,410.0,cash,yes,no,...,weekend,no,20,5,2017.0,19,A,1,1,1
2,small,acacia,3,1,270.0,300,30.0,cash,yes,no,...,weekend,no,20,5,2017.0,19,B,1,1,1
3,small,acacia,3,1,137.0,200,63.0,cash,yes,no,...,weekend,no,20,5,2017.0,19,B,1,1,1
4,small,acacia,1,1,75.0,80,5.0,cash,yes,no,...,weekend,no,20,5,2017.0,18,A,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,chain,tuskys,4,3,1810.0,2000,190.0,cash,no,yes,...,weekday,no,15,6,2017.0,11,B,4,1,1
1460,chain,nakumatt,2,3,516.0,516,0.0,card,yes,no,...,weekday,no,17,7,2017.0,21,A,1,1,1
1461,chain,tuskys,2,1,290.0,500,210.0,cash,yes,no,...,weekend,no,30,6,2017.0,21,A,1,1,1
1462,chain,tuskys,5,2,596.0,1000,404.0,cash,yes,no,...,weekday,no,8,5,2017.0,11,B,1,1,1
1463,chain,Eastmatt,2,2,120.0,2000,1880.0,cash,yes,yes,...,weekday,no,23,6,2017.0,16,A,1,1,0

In [20]:

# Reset index

df.reset_index()

,time_type,supermarket,no_of_items,variation,total,paid,change,type,food,snack,...,day,24hr,day_1,month,year,hour,item_no_cat,total_cat,paid_cat,change_cat
0,night,acacia,1,1,90.0,100,10.0,cash,yes,no,...,saturday,no,20,5,2017.0,19,A,1,1,1
1,night,acacia,1,1,90.0,500,410.0,cash,yes,no,...,saturday,no,20,5,2017.0,19,A,1,1,1
2,night,acacia,3,1,270.0,300,30.0,cash,yes,no,...,saturday,no,20,5,2017.0,19,B,1,1,1
3,night,acacia,3,1,137.0,200,63.0,cash,yes,no,...,saturday,no,20,5,2017.0,19,B,1,1,1
4,afternoon,acacia,1,1,75.0,80,5.0,cash,yes,no,...,saturday,no,20,5,2017.0,18,A,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,morning,tuskys,4,3,1810.0,2000,190.0,cash,no,yes,...,Thursday,no,15,6,2017.0,11,B,4,1,1
1460,night,nakumatt,2,3,516.0,516,0.0,card,yes,no,...,Monday,no,17,7,2017.0,21,A,1,1,1
1461,night,tuskys,2,1,290.0,500,210.0,cash,yes,no,...,Sunday,no,30,6,2017.0,21,A,1,1,1
1462,morning,tuskys,5,2,596.0,1000,404.0,cash,yes,no,...,Monday,no,8,5,2017.0,11,B,1,1,1
1463,evening,Eastmatt,2,2,120.0,2000,1880.0,cash,yes,yes,...,Friday,no,23,6,2017.0,16,A,1,1,0

In [26]:

# Set column 'time_type' as index

try:
    df.set_index('time_type', inplace=True)
except Exception:
    print('Something wrong')

df

Something wrong

,supermarket,no_of_items,variation,total,paid,change,type,food,snack,beverage,...,day,24hr,day_1,month,year,hour,item_no_cat,total_cat,paid_cat,change_cat
time_type,,,,,,,,,,,,,,,,,,,,,
night,acacia,1,1,90.0,100,10.0,cash,yes,no,no,...,saturday,no,20,5,2017.0,19,A,1,1,1
night,acacia,1,1,90.0,500,410.0,cash,yes,no,no,...,saturday,no,20,5,2017.0,19,A,1,1,1
night,acacia,3,1,270.0,300,30.0,cash,yes,no,no,...,saturday,no,20,5,2017.0,19,B,1,1,1
night,acacia,3,1,137.0,200,63.0,cash,yes,no,no,...,saturday,no,20,5,2017.0,19,B,1,1,1
afternoon,acacia,1,1,75.0,80,5.0,cash,yes,no,no,...,saturday,no,20,5,2017.0,18,A,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
morning,tuskys,4,3,1810.0,2000,190.0,cash,no,yes,no,...,Thursday,no,15,6,2017.0,11,B,4,1,1
night,nakumatt,2,3,516.0,516,0.0,card,yes,no,yes,...,Monday,no,17,7,2017.0,21,A,1,1,1
night,tuskys,2,1,290.0,500,210.0,cash,yes,no,no,...,Sunday,no,30,6,2017.0,21,A,1,1,1
morning,tuskys,5,2,596.0,1000,404.0,cash,yes,no,no,...,Monday,no,8,5,2017.0,11,B,1,1,1
evening,Eastmatt,2,2,120.0,2000,1880.0,cash,yes,yes,no,...,Friday,no,23,6,2017.0,16,A,1,1,0

In [29]:

# Select rows morning and evening

df.loc[['morning', 'evening']]

,supermarket,no_of_items,variation,total,paid,change,type,food,snack,beverage,...,day,24hr,day_1,month,year,hour,item_no_cat,total_cat,paid_cat,change_cat
time_type,,,,,,,,,,,,,,,,,,,,,
morning,tuskys,33,6,13005.0,13001,0.0,card,yes,no,no,...,wednesday,no,7,12,2016.0,8,B,0,0,1
morning,nakumatt,2,1,431.0,500,68.0,cash,yes,no,yes,...,saturday,no,23,7,2016.0,11,A,1,1,1
morning,nakumatt,3,1,1000.0,1000,0.0,cash,no,no,no,...,saturday,yes,20,8,2016.0,9,B,1,1,1
morning,nakumatt,1,1,2420.0,2460,0.0,card,no,no,no,...,friday,no,11,11,2016.0,8,A,2,4,1
morning,nakumatt,12,2,4926.0,4926,0.0,card,yes,no,no,...,friday,no,11,11,2016.0,8,B,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
evening,nakumatt,4,1,526.0,526,0.0,mpesa,yes,no,no,...,Thursday,no,12,11,2015.0,17,B,1,1,1
evening,karrymart,1,1,30.0,50,20.0,cash,no,no,no,...,Tuesday,no,23,5,2018.0,16,A,1,1,1
evening,nakumatt,1,1,49.0,100,51.0,cash,yes,no,no,...,Tuesday,no,27,6,2017.0,18,A,1,1,1
evening,nakumatt,2,1,78.0,78,0.0,cash,no,no,yes,...,Thursday,yes,29,6,2017.0,18,A,1,1,1
evening,Eastmatt,2,2,120.0,2000,1880.0,cash,yes,yes,no,...,Friday,no,23,6,2017.0,16,A,1,1,0

In [30]:

# Select the third cell in the row afternoon

df.loc[['afternoon']].iloc[:, 2]

time_type
afternoon    1
afternoon    3
afternoon    1
afternoon    1
afternoon    2
            ..
afternoon    2
afternoon    1
afternoon    1
afternoon    1
afternoon    2
Name: variation, Length: 395, dtype: int64

In [31]:

# Select the third cell down in the column named variation

df.loc[:, ['variation']].iloc[2]

variation    1
Name: night, dtype: int64